

<!DOCTYPE html>
<html lang="en">
<head>

     <title>FOOD_APP@Jaidev</title>
     <style>
       
        input[type=button],
        input[type=submit] {
          background-color: #008CBA;
          border: none;
          color: #fff;
          padding: 15px 30px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
        }
        input[type="file"]{
       
        z-index: -1;
        top: 10px;
        left: 8px;
        font-size: 16px;
        color: #b8b8b8;
        
      }
   
      </style>
      
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
  
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    

     




     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/vegas.min.css">
     
     <!-- MAIN CSS -->
     
     <link rel="stylesheet" href="/static/css/templatemo-style.css">
     

     
     <link rel="stylesheet" href="static/css/style.css">
     <link rel="stylesheet" href="static/css/bootstrap2.min.css">

     

    
     <!-- Style -->
     


        <!-- Bootstrap CSS -->
    


</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

     <!-- HOME -->
     <section id="home">
        <div class="overlay" ></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                          <div class="content">
    
                            <div class="container">
                              <h2 class="mb-5"></h2>
                              
                              <h1 style="color:white;">It was a {{y[1]}} :)</h1>
                              <br>
                              <br>
                              
                              
                              <br>
                              <div class="table-responsive">
                        
                                <table class="table table-striped custom-table">
                                  <thead>
                                    <tr>
                                      
                                      <th scope="col"><h3>Accuracy</h3></th>
                                      <th scope="col"><h3>FOOD</h3></th>
                                      
                                      <th scope="col"><h3>Calories</h3></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr scope="row">
                        
                                      
                                              
                                              <td>
                                                <h3 style="color:white;">{{y[0]}} %</h3>
                                              </td>
                                              <td><a href="#"><h3 style="color:white;">{{y[1]}}</h3></a></td>
                                              <td>
                                                <h3 style="color:white;">{{y[2]}}</h3>
                                                
                                              </td>
                                              
                                    
                                    </tr>
                        
                                    <tr>
                                      
                                      <td><h3 style="color:white;">{{y[3]}} %</h3></td>
                                      <td><a href="#"><h3 style="color:white;">{{y[4]}}</h3></a></td>
                                      <td>
                                        <h3 style="color:white;">{{y[5]}}</h3>
                                        
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      
                                      <td><h3 style="color:white;">{{y[6]}} %</h3></td>
                                      <td><a href="#"><h3 style="color:white;">{{y[7]}}</h3></a></td>
                                      <td>
                                        <h3 style="color:white;">{{y[8]}}</h3>
                                        
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      
                                      <td><h3 style="color:white;">{{y[9]}} %</h3></td>
                                      <td><a href="#"><h3 style="color:white;">{{y[10]}}</h3></a></td>
                                      <td>
                                        <h3 style="color:white;">{{y[11]}}</h3>
                                        
                                      </td>
                                     
                                    </tr>
                        
                                    <tr>
                                      
                                      <td><h3 style="color:white;">{{y[12]}} %</h3></td>
                                      <td><a href="#"><h3 style="color:white;">{{y[13]}}</h3></a></td>
                                      <td>
                                        <h3 style="color:white;">{{y[14]}}</h3>
                                        
                                      </td>
                                      
                                    </tr>
                                    
                                    
                                  </tbody>
                                </table>
                              </div>
                        
                        
                              
                            </div>
                            <br>
                            <br>
                            <form action="/">
                              <p><input type ="submit"  value="TRY AGAIN" :)"></p>
                           </form>
                           
                          </div>
                          
                                
                              </div>
                             
                         </div>
                         
                    </div>

                   
               </div>
               
          </div>
          
     </section>

     <!-- SCRIPTS -->
     <script src="/static/js/jquery.js"></script>
     
     <script src="/static/js/vegas.min.js"></script>
     
     <script src="/static/js/custom.js"></script>

</body>
</html>